h2{
	text-align: center;
	padding-top: 10px;
}
form {
	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 1px;
	border: 1px solid rgba(0, 0, 0, 0.35);
}