#botao {
    margin-right: 1rem;
}

#cards {
    margin: 0 auto;
}

.card-body {
    font-family: 'Open Sans', sans-serif;
}

.card-header {
    box-shadow: 10px 5px 5px #adacac;
}

#card {
    display: flex;
    background-color:white;
    border-radius: 1px;
    box-shadow: 10px 5px 5px #adacac;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

#card:hover {
    transform: translateY(-10px);
    transition: 0.4s ease-out;
}
  
#card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}  

.bar {
    left: 20px;
    height: 5px;
    width: 270px;
}
  
.filledbar {
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(192,192,192) 0%, rgba(169,169,169) 65%, rgba(128,128,128) 100%);
    transition: 0.6s ease-out;
}
  
.card:hover .filledbar {
    width: 270px;
    transition: 0.4s ease-out;
}

.card-title {
    color: black;
}

.card-subtitle {
    color: black;
}

.card-text {
    color: black;
}