<h2>{{header}}</h2>
<form [formGroup]="form">
    <div>
        <label for="titulo">Titulo</label>
        <input type="text" class="form-control" id="titulo" formControlName="titulo" />
    </div>
    <div>
        <label for="texto">Texto</label>
        <textarea class="form-control" rows="10" id="texto" formControlName="texto"></textarea>
    </div>
    <div style="margin-top: 10px">
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary" id="botao" (click)="onSubmit()">Salvar</button>
        <button type="button" class="btn btn-default" id="botao" (click)="onCancel()">Cancelar</button>
    </div>
</form>