<div class="card text-dark border-light mt-3">
    <div class="card-header">
        <div class="float-left">
            <h4>Minhas Notas</h4>
        </div>
        <div class="float-right">
            <div class="btn-toolbar">
                <button type="button" class="btn btn-secondary" id="botao" [routerLink]="['addnota']">Nova Nota</button>
                <button type="button" class="btn btn-secondary" id="botao" (click)="onRefresh()">Atualizar</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-deck">
            <div *ngFor="let obj of notas$ | async" id="cards">
                <div class="card mb-3" style="width: 20rem;" id="card">
                    <div class="card-body">
                        <h5 class="card-title">{{obj.titulo}}</h5>
                        <div class="bar">
                            <div class="filledbar"></div>
                        </div>
                        <p class="card-text">{{obj.texto}}</p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-secondary" [routerLink]="['editarnota/', obj.id]"
                            id="botao">Editar</button>
                        <button class="btn btn-secondary" (click)="OnDelete(obj)" id="botao">Deletar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>