@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

* {
    font-family: 'Titillium Web', sans-serif;
}

#botao {
    margin-right: 1rem;
    background-color: #4a0072;
    border-color: white;
}

#cards {
    margin: 0 auto;
}

.card-header {
    background-color: #4a0072;
    box-shadow: 5px 5px 5px #adacac;
}

.float-left {
    color: white;
}

.card-text {
    margin-top: 20px;
}

.card-title {
    text-align: center;
}

.card-body {
    overflow-y: auto;
}

#card {
    height: 300px;
    display: flex;
    background-color: white;
    border-radius: 1px;
    box-shadow: 5px 5px 5px #adacac;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

#card:hover {
    transform: translateY(-10px);
    transition: 0.4s ease-out;
}
  
#card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}  

.bar {
    left: 20px;
    height: 5px;
    width: 270px;
}
  
.filledbar {
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, #ae52d4 0%, #7b1fa2 65%, #4a0072 100%);
    transition: 0.6s ease-out;
}
  
.card:hover .filledbar {
    width: 270px;
    transition: 0.4s ease-out;
}

.card-title {
    color: black;
}

.card-subtitle {
    color: black;
}

.card-text {
    color: black;
}